@page "/Person/Detail/{Id?}"
@inherits PersonDetailPageModel

<h3>Details</h3>


<div class="col-auto" style="padding:4px,10px,2px,10px">
    <div class="row">
        <div class="col border border-dark col-4">
            Id
        </div>
        <div class="col border border-dark col-2">
            First name
        </div>
        <div class="col border border-dark col-2">
            Middle name
        </div>
        <div class="col border border-dark col-2">
            Last name
        </div>
    </div>
    @if (PersonDetails != null)
    {
        <div class="row">
            <div class="col border border-dark col-4">
                @PersonDetails.Id
            </div>
            <div class="col border border-dark col-2">
                @PersonDetails.FirstName
            </div>
            <div class="col border border-dark col-2">
                @PersonDetails.MiddleName
            </div>
            <div class="col border border-dark col-2">
                @PersonDetails.LastName
            </div>
            <button class="col border border-dark col-2" @onclick="@(() => RedirectToEdit(PersonDetails.Id))">
                Edit
            </button>

        </div>

    }
</div>